.searchField{
  width: 20em !important;
} 

.searchButton {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.inputLeft{
  border-top-left-radius: 90% !important;
  border-bottom-left-radius: 90% !important;
  width: 2em !important;
}

.signInForm {
  background-color: red;
  width: 30em;
  height: 16em;


}

.signUpForm {
  background-color: blue;
  width: 30em;
  height: 30em;


}