extends loginLayout

block content
  // About Page
  .container
    .aboutWindow.container-fluid.rounded
      form
        h3 About HomeStay
        .form-group
          p
            | HomeStay is a final project for CSCI 3230U Web Application Development created by Leon Chow and Mark Bryan. It operates by provinding an online marketplace and hospitality service for people to lease or rent short-term homestays. HomeStay does not own any real estate or conduct tours. It is simply a broker which receives percentage service fees in conjunction with every booking.
        button.btn.aboutCloseButton(type='submit') Close