extends loginLayout

block content
  // Sign Up Form
  .container
    .signUpForm.container-fluid.rounded
      form(action='/processSignUp', method='post',)
        h3 Sign Up
        .form-group
          label(for='signUpName') Name
          input.form-control(id='signUpName' name='signUpName' type='text' aria-describedby='Enter Name' placeholder='Enter Name')
        .form-group
          label(for='signUpLastName') Last Name
          input.form-control(id='signUpLastName' name='signUpLastName' type='text' aria-describedby='Enter Last Name' placeholder='Enter Last Name')
        .form-group
          label(for='signUpEmail') Email address
          input.form-control(id='signUpEmail' name='signUpEmail' type='email' aria-describedby='Enter Email' placeholder='Enter email')
          small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
        .form-group
          label(for='signUpPwd') Password
          input.form-control(id='signUpPwd' name='signUpPwd' type='password' placeholder='Enter Password')
        button.btn.signUpButton(type='submit') Submit
        button.btn.signUpCloseButton.float-right(type='submit') Close

