extends userLayout

block content
  //- TODO: This block will contain table/maps of search result and My Search table (or saved search) and My Listing table (or the listing the user created).  Then this block will be extended by listing, my account template.

